@import "../../../../assets/scss/variables";

$footer-height: 80px;

.sidebar {
  &--first,
  &--second {
    top: 0;
    height: 100vh;
    position: absolute;
    left: 0;
    width: $sidebar-width;
    bottom: 0;
    background: #34323a;
    box-shadow: inset 11px 14px 33px rgba(40, 40, 40, 0.25);
    // border: 1px solid #a6cdda;
    z-index: 999;
    &.opened {
      left: 0;
    }
  }

  &__header {
    height: $header-height;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 30px;
    opacity: 1;
    &__menu {
      width: 30px;
    }

    &__title {
      font-size: 26px;
      line-height: 27px;
      color: $sidebar-span-color;
    }

    .dashboard {
      opacity: 0;
      transform: translateX(-1000px);
      transition: opacity 0.5s 2s, transform 0.5s 0.5s;
    }

    .history {
      opacity: 0;
      transform: translateX(500px);
      transition: opacity 0.5s 1s, transform 0.5s 1s;
      position: absolute;
    }

    > .visible {
      transition: all 1s linear;
      opacity: 1;
      visibility: visible;
      &.dashboard {
        opacity: 1;
        transform: translateX(0px);
      }

      &.history {
        opacity: 1;
        transform: translateX(0px);
      }
    }
  }

  &__body {
    position: absolute;
    height: calc(100vh - #{$footer-height} - #{$header-height} - 200px);
    width: 100%;
    overflow: auto;
    &__box {
      &--blue {
        background: #41444e;
        box-sizing: border-box;
        padding: 0;
        opacity: 0;
        height: 0;
        display: none;
        transition: height 2s linear;
        &.expanded {
          display: block;
          padding: 30px;
          opacity: 1;
          height: fit-content;
        }

        .sidebar__span {
          &--status {
            font-size: 23px;
            line-height: 29px;
            color: $sidebar-span-color-active;
          }
          &--description {
            font-size: 18px;
            line-height: 23px;
            color: $sidebar-span-color-active;
          }
        }
      }
    }
  }

  &__line {
    &__container {
      position: absolute;
      bottom: 140px;
      z-index: 9999999;
      width: 100%;
      padding: 0 20px;
    }
    &__self {
      border-top: 3px solid #4f5261;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: $footer-height;
    position: absolute;
    width: 100%;
  }

  &__image {
    &--scroll {
      width: 30px;
    }
  }

  &__section__container {
    border-right: none;
    box-sizing: border-box;
    height: 85px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    cursor: pointer;
  }

  &__arrow {
    &--back,
    &--next,
    &--down {
      width: 45px;
      cursor: pointer;
    }
    &--down,
    &--up {
      width: 25px;
      cursor: pointer;
    }

    &--up {
      transform: rotate(180deg);
    }

    &__container {
      text-align: right;
    }
  }

  &__tick {
    width: 50px;
    float: right;
  }

  &__span {
    font-size: 24px;
    line-height: 30px;
    color: $sidebar-span-color;

    &--status {
      font-size: 28px;
      line-height: 33px;
      color: $sidebar-span-color;
    }

    &--description {
      font-size: 20px;
      line-height: 28px;
      color: $sidebar-span-color;
    }
  }

  &__button {
    &__bin {
      width: 20px;
    }
    &--delete {
      background: none;
      box-sizing: border-box;
      border-radius: 50px;
      padding: 5px 30px;
      font-size: 23px;
      line-height: 30px;
      color: #9b9ba6;
      &:hover {
        background: #41434d;
      }
    }

    &--verify {
      background: #a6cdda;
      border: 3px solid #a6cdda;
      box-sizing: border-box;
      border-radius: 40px;
      font-size: 20px;
      line-height: 26px;
      padding: 8px 24px;
      color: #768fa7;
    }
  }
}
