

.card {
    border: 2px solid #A6CDDA;
    width: 100%;
    display: block;
    width: 100%;
    padding: 20px 25px;

    &__tick {
        width: 70px;
    }

    &__span {
        float: right;
        color: #768FA7;
        font-size: 20px;
    }
}