<header class="header__container" [class.shifted]="isMainPage">
  <!-- Logo -->
  <span class="header__logo"><b>BlocksShow</b></span>
  <nav class="navbar navbar-static-top">
    <div (click)="goHome()" [class.selected]="isHome()" class="header__home">
      <img src="assets/images/home-white.svg">
    </div>

    <ul class="top-nav" style="display: contents;">

      <li dropdown class="user-authenticated">
        <a dropdownToggle>
          <div class="user-info">
            <span style="font-weight: bold;">{{ user }}</span>
          </div>
        </a>
        <div *dropdownMenu style="z-index: 9 !important; padding: 0 !important"
          class="dropdown-menu dropdown-menu-right dropdown-menu--block" role="menu">
          <div class="row user-header">
            <div class="col-md-12">
              <p> {{ user }} </p>
            </div>
          </div>
          <div class="user-footer">
            <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-6 text-right">
                <a class="btn btn-danger" style="color: white" (click)="logout()">Log out</a>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</header>