<!-- <app-alert></app-alert> -->
<app-alert [id]="alertId" [klass]="['position-fixed']"></app-alert>

<section class="content--full">
  <div class="row" style="justify-content: flex-start;  height: calc(100vh - 50px); top: 5vh; position: relative;">
    <div class="col-8">
      <div class="row">
        <div *ngFor="let record of records; let i = index" class="col-5 mb-5 mr-3">
          <app-card [record]="record" (clickEvent)="loadRecord($event)"></app-card>
        </div>
      </div>
    </div>
    <div class="col-3">
      <app-search (searchEvent)="search($event)"></app-search>
    </div>
  </div>
</section>

<router-outlet name="sidebar"></router-outlet>