<div class="search" [formGroup]="searchForm">
  <div class="search__title__box">
    <span class="search__title__span">
      Search
    </span>
  </div>
  <div class="search__body">
    <div class="row">
      <div class="col-md-12">
        <label class="search__label">{{ 'search.label.date' | translate }}</label>
        <app-input class="form-control" placeholder="{{ 'search.placeholder.date' | translate }}"
          formControlName="date">
        </app-input>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label class="search__label">{{ 'search.label.from' | translate }}</label>
        <app-input class="form-control" placeholder="{{ 'search.placeholder.from' | translate }}"
          formControlName="from">
        </app-input>
      </div>
      <div class="col-md-6">
        <label class="search__label">{{ 'search.label.to' | translate }}</label>
        <app-input class="form-control" placeholder="{{ 'search.placeholder.to' | translate }}" formControlName="to">
        </app-input>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 flex-center">
        <div (click)="emitSearch()" class="btn btn-primary search__button">
          <img style="width: 20px;" src="assets/images/research.svg">
        </div>
      </div>
    </div>
  </div>
</div>